:root {
  --feedlr-primary-color: rgba(107, 33, 168, 1);
  --feedlr-widget-bg: white;
  --feedlr-button-color: rgba(107, 33, 168, 1);
  --feedlr-text-color: #000000;
}

.dark {
  --feedlr-primary-color: rgba(107, 33, 168, 1);
  --feedlr-widget-bg: #0f0f0f;
  --feedlr-button-color: rgba(107, 33, 168, 1);
  --feedlr-text-color: #fff;
}

.feedlr-container *::selection {
  background-color: var(--feedlr-primary-color);
  color: white;
}

.feedlr-widget-toggler {
  position: fixed !important;
  background: var(--feedlr-widget-bg) !important;
  color: var(--feedlr-text-color);
  right: 10px !important;
  bottom: 25px !important;
  border: 1px solid !important;
  padding: 10px 15px !important;
  border-radius: 10px !important;
  z-index: 1000 !important;
  transform: scale(1) !important;
}

.feedlr-widget.widget-fixed {
  position: fixed !important;
  right: 10px !important;
  bottom: 80px !important;
  z-index: 100000000 !important;
}

.feedlr-widget {
  display: flex !important;
  flex-direction: column !important;
  background: var(--feedlr-widget-bg) !important;
  border: 1px solid;
  border-radius: 10px !important;
  padding: 20px !important;
}

.feedlr-form {
  display: flex !important;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  transform: scaleY(0);
  height: 0;
  transition: all 0.1s;
  transform-origin: bottom;
}

.feedlr-form.show {
  transform: scaleY(1);
  height: auto;
}

.feedlr-question {
  text-align: center;
  font-size: 17px;
  color: var(--feedlr-text-color);
}

.feedlr-emoji-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.feedlr-emoji-button {
  opacity: 0.6 !important;
  transform: scale(1);
  transition: transform 0.5s;
}

.feedlr-selected-emoji {
  opacity: 1 !important;
  transform: scale(1.2);
}

.feedlr-email_input,
.feedlr-feedback_input {
  padding: 0.5rem 1rem;
  display: block;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  font-size: 16px;
  background: var(--feedlr-widget-bg);
  color: var(--feedlr-text-color);
}

.feedlr-email_input:focus,
.feedlr-feedback_input:focus {
  outline: none;
  border: 1px solid var(--feedlr-primary-color);
  box-shadow: none;
}

.feedlr-email_input::placeholder,
.feedlr-feedback_input::placeholder {
  color: var(--feedlr-placeholder-color);
}

.feedlr-feedback_submit {
  background-color: var(--feedlr-button-color);
  color: white;
  border-radius: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.feedlr-footer_text {
  font-size: 14px;
  text-align: center;
  color: var(--feedlr-text-color);
}

.feedlr-footer_text a {
  color: var(--feedlr-primary-color);
}
