.feedlr-widget-sticky-bottom {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  --feedlr-drop-shadow: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06)) !important;
  filter: var(--feedlr-drop-shadow) !important;
  z-index: 10000;
  background: transparent;
  border-radius: 10px;
}

.feedlr-widget-iframe-bottom {
  padding-top: 10px;
  border-radius: 10px;
}

.feedlr-widget-close_button {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  outline: none;
  border: 0;
  color: #666666;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  transition: background-color 0.5s;
  cursor: pointer;
}

.feedlr-widget-close_button svg {
  fill: #666666;
}

.feedlr-widget-close_button:hover {
  background-color: #f5f5f5;
}
