@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  /* Code for Firefox */
  color: white;
  @apply bg-brand-500;
}

::selection {
  color: white;
  @apply bg-brand-500;
}

html {
  font-family: 'DM Sans', sans-serif;
}
[class~='dark'] .react-loading-skeleton {
  background-color: #181818 !important;
  background-image: linear-gradient(90deg, #181818, #333, #181818) !important;
}
