@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  /* Code for Firefox */
  color: white;
  @apply bg-brand-500;
}

::selection {
  color: white;
  @apply bg-brand-500;
}

html {
  font-family: 'DM Sans', sans-serif;
}
